:root {
    --white: #f8fafc;
    --offwhite: #f1f5f9;
    --white-alpha: #fff8;
    --black: #000;
    --gray: lightslategray;
    --accent1: #f59e0b;
    --accent2: #38bdf8;
    --foreground: var(--black);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: var(--offwhite);
    color: var(--foreground);

    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container.controls {
    width: 200px;
    height: 200px;
    background-color: var(--gray);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 20px;
    border-radius: 5px;
    box-shadow: 8px 8px 16px #0003;
}

button {
    color: var(--white);
    background-color: var(--accent2);
    font-size: 20px;
    font-weight: 700;
    box-shadow: inset 4px 4px 4px #0003;
    border-radius: 5px;
    padding: 10px 20px;
}
button:hover {
    filter: brightness(1.05);
}

.container.board {
    width: 80vmin;
    height: 80vmin;
    background-color: var(--gray);
    box-shadow: 8px 8px 16px #0003;
    border-radius: 5px;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.slot {
    background-color: var(--white-alpha);
    border-radius: 5px;
    box-shadow: inset 4px 4px 8px #0003;

    text-align: center;
    vertical-align: middle;
    /* line-height: 100px; */
}

.slot:hover {
    outline: 2px double var(--accent1);
}

.circle>div.shape {
    height: 100%;
    content: url(img/circle.svg);
    filter: invert(81%) sepia(34%) saturate(6757%) hue-rotate(358deg) brightness(99%) contrast(94%) drop-shadow(4px 4px 5px #0004);
}
.cross>div.shape {
    height: 100%;
    content: url(img/cross.svg);
    filter: invert(81%) sepia(34%) saturate(6757%) hue-rotate(358deg) brightness(99%) contrast(94%) drop-shadow(4px 4px 5px #0004);
}