:root {
    --white: #fff;
    --black: #000;
    --gray: lightslategray;
    --foreground: var(--white);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: var(--foreground);
    
    width: 100vw;
    height: 100vh;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.board {
    width: 80vmin;
    height: 80vmin;
    background-color: var(--gray);
    box-shadow: 8px 8px 8px #0003;
}